.slideshow {
    position: relative;
    max-width: 1200px;
    margin: 3rem auto;
    overflow: hidden;
}


.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.slide.active {
    opacity: 1;
    position: relative;
}


.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 18px;
    font-size: 28px;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    z-index: 10;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

.arrow:hover {
    background: rgba(0, 0, 0, 0.6);
}

.title {
    color: #EBF227;
}